@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #f4f4f4;
  /* background-color: rgba(228, 204, 199, 0.726); */
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: tomato;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(222, 121, 103);
  cursor: grab;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(222, 121, 103);
  cursor: grabbing;
}
